<% content_for(:title, "Edit | Post") %>
<%= render 'layouts/errors', object: @post %>

<h1>Edit the Post: <%= @post.title %> </h1>

<div class="container">
  <%= form_for @post do |f| %>
  <div>
  <%= f.label :title %>
  <%= f.text_field :title, :required => true %>
  </div>

  <div>
  <%= f.label :entry %>
  <%= f.text_area :entry, :required => true %>
  </div>
  <div>
  <%= f.label :date %>
  <%= f.date_field :date, :required => true %>
  </div>
  <%= f.submit "Edit Post" %>
  <% end %>
</div>
