<%= render 'layouts/errors', object: @post %>


<div class="container">
  <h1> Craft a Post! </h1>
  <%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :entry %>
  <%= f.text_area :entry %>
  <%= f.hidden_field :date, value: Date.today %>
  <%= f.submit "Post" %>
  <% end %>
</div>
