<div>
<h1><%= @post.title %></h1>
</div>
<div>
  <h2><%= @post.entry %></h2>
</div>
<div>
  <h5><%= @post.date %></h5>
</div>
<div>
  <%= link_to "Edit Post", edit_post_path(@post) %> |
  <%= link_to "Delete Post", post_path,
  :data => {:confirm => "Do you really want to delete this post?",
    :method => "delete"} %>
  </div>


<div>
<h3>Comments</h3>
  <%= link_to "Add a Comment", new_post_comment_path(@post) %>
    <div>
    <% @post.comments.each do |comment| %>
    <ul>
      <li><%= comment.username %></li>
      <li><%= comment.description %></li>
      <%= link_to "Edit Comment", edit_post_comment_path(@post, comment) %> |
      <%= link_to "Delete Comment", post_comment_path(@post, comment),
      :data => {:confirm => "You sure?",
        :method => "delete"} %> |
    </ul>
    <% end %>
      <p> Be the first one to comment!</p>
    <div>
    <%= link_to "Home", root_path %>
</div>
